﻿@{
    ViewBag.Title = "Our Activity ";
}
<h2 style="color:black; font-family:verdana;">@ViewBag.Title</h2>

<p style="color:black; font-family:verdana;">We value the relationships that we form with our clients, and take pride in our ability to make your vision a reality. We’re here to ensure that every last detail is executed smoothly, so that you can sit back, relax, and enjoy the day.</p>

<link href="~/Content/bootstrap.css" rel="stylesheet"  rel="stylesheet" id="bootstrap-css"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        
        <div class="gallery">
            <figure>
                
                <img src="~/images/images/abstract/3d-art-hd-wallpaper-33630-3d-artwork-fantasy-art-eyes.jpg" />
                <figcaption></figcaption>
            </figure>
            <figure>

                <img src="~/images/images/abstract/abstract-digital-art-wallpaper-46188-47520-hd-wallpapers.jpg" />
                <figcaption></small></figcaption>
            </figure>
            <figure>

                <img src="~/images/images/abstract/Desktop-hd-abstract-art-wallpaper.jpg" />
                <figcaption>
                  
                </figcaption>
            </figure>
            <figure>

                <img src="~/images/images/abstract/download.jpg" />
                <figcaption></figcaption>
            </figure>
            <figure>

                <img src="~/images/images/abstract/Indian_Art_-_Acrylic_Painting_-_Krishna.jpg" />
                <figcaption></figcaption>
            </figure>
            <figure>
                <img src="~/images/images/modern/5964869-art-wallpapers.jpg" />
               
                <figcaption></figcaption>
            </figure>
            <figure>

                <img src="~/images/images/abstract/photo-to-vector-art-hd-wallpaper.jpg" />
                <figcaption></figcaption>
            </figure>
            <figure>

                <img src="~/images/images/clasic/67a8f859fb80bd933a23a5b9cf7a6261.jpg" />
                <figcaption></figcaption>
            </figure>
            <figure>

                <img src="~/images/images/clasic/classic-art-wallpaper-wallpaper.wiki-free-classic-art-picture-pic-wpb0012480.jpg" />
                <figcaption>
                    
                </figcaption>
            </figure>
            <figure>

                <img src="~/images/images/clasic/free-classic-art-hd-wallpapers-download.jpg" />
                <figcaption></figcaption>
            </figure>
            <figure>

                <img src="~/images/images/flowers/Butterfly-Flower-Abstract-HD-1080p.jpg" />
                <figcaption></figcaption>
            </figure>
            <figure>

                <img src="~/images/images/flowers/glowa-kobiety-i-skomplikowane-detale.jpg" />
                <figcaption></figcaption>
            </figure>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
            <symbol id="close" viewBox="0 0 18 18">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
			S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
			l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
			c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
			s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z" />
            </symbol>
        </svg>
        <script>
popup = {
                init: function () {
                    $('figure').click(function () {
                        popup.open($(this));
                    });

                    $(document).on('click', '.popup img', function () {
                        return false;
                    }).on('click', '.popup', function () {
                        popup.close();
                    })
                },
                open: function ($figure) {
                    $('.gallery').addClass('pop');
                    $popup = $('<div class="popup" />').appendTo($('body'));
                    $fig = $figure.clone().appendTo($('.popup'));
                    $bg = $('<div class="bg" />').appendTo($('.popup'));
                    $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
                    $shadow = $('<div class="shadow" />').appendTo($fig);
                    src = $('img', $fig).attr('src');
                    $shadow.css({ backgroundImage: 'url(' + src + ')' });
                    $bg.css({ backgroundImage: 'url(' + src + ')' });
                    setTimeout(function () {
                        $('.popup').addClass('pop');
                    }, 10);
                },
                close: function () {
                    $('.gallery, .popup').removeClass('pop');
                    setTimeout(function () {
                        $('.popup').remove()
                    }, 100);
                }
            }

            popup.init()</script>
       
    </div>
</div>