﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="background-image:url('../../images/images/flowers/glowa-kobiety-i-skomplikowane-detale.jpg'); background-repeat: no-repeat; background-size: cover; height: 100%; background-position: center center;">

    <p style="color:black; font-family:verdana;"> If you want to know more about our activity, please feel free to contact us!</p>
    <address>
        Vivart Club<br />
        Craiova, Calea Bucuresti, nr.123<br />
        <abbr title="Phone">Phone:</abbr>
        0251.898.436
    </address>

    <address>
        <strong>Information:</strong>   <a href="mailto:info@vivart.com">info@vivart.com</a><br />
        <br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br />

    </address>
</div>
