﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url('../../images/images/flowers/sams_gap_panorama.jpg'); background-repeat: no-repeat; background-size: cover;">
    <h1 style="color:white; font-family:verdana;">Vivart</h1>
    <p class="lead" style="color:white; font-family:verdana;">We value the relationships that we form with our clients, and take pride in our ability to make your vision a reality. We’re here to ensure that every last detail is executed smoothly, so that you can sit back, relax, and enjoy the day.</p>
    <p><a href="~/Views/Home/About.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:black; font-family:verdana;">Events</h2>
        <p style="color:black; font-family:verdana;">
            Vivart event planning specializes in custom, one-of-a-kind events of all sizes. With our passion and creativity, we bring a fresh approach to classic art displaying.
        </p>
        <p><a class="btn btn-default" href="~/Views/Events/Index.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:black; font-family:verdana;">Services</h2>
        <p style="color:black; font-family:verdana;"">From social events, private parties and joyous occasion, it's about creating an unforgettable experience that takes a guest through a day, an evening, or even a weekend-long celebration that is reflective of that client.</p>
        <p><a class="btn btn-default" href="~/Views/Home/Services.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:black; font-family:verdana;">About</h2>
        <p style="color:black; font-family:verdana;">We value the relationships that we form with our clients, and take pride in our ability to make your vision a reality. We’re here to ensure that every last detail is executed smoothly, so that you can sit back, relax, and enjoy the day.</p>
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Learn more &raquo;</a></p>
    </div>
</div>