﻿
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-image:url('../../images/images/flowers/glowa-kobiety-i-skomplikowane-detale.jpg'); background-repeat: no-repeat; background-size: cover; height: 100%; background-position: center center;">
    <p style="color:black; font-family:verdana;" ">From social events, private parties and joyous occasion, it's about creating an unforgettable experience that takes a guest through a day, an evening, or even a weekend-long celebration that is reflective of that client.</p>
    <h2 style="color:black; font-family:verdana;">Services</h2>
    <h3>@ViewBag.Message</h3>
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
</div>


