﻿@model IEnumerable<Vivart.Models.Gallery>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <!-- text methodname controller-->
    @Html.ActionLink("Add Image", "AddImage", "Slider", new { id = "linkAddimage" }, null) |
    @Html.ActionLink("Delete Image", "DeleteImages", "Slider", new { id = "linkDeleteImage" }, null)
</p>
@Html.Partial("~/Views/Shared/SliderPartial.cshtml", Model)