﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vivart</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slider")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-light bg-light fixed-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"></button>
            @Html.ActionLink("Vivart", "Index", "Home", new
            {
                area = ""
            }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <!--name  action method  controller-->
                    <li class="nav-item">@Html.ActionLink("Services", "Services", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Event", "Index", "Events")</li>
                    <li class="nav-item">@Html.ActionLink("Guest", "Index", "Guests")</li>
                </ul>@Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
