﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"> @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes:
                new { title = "Manage" })
        </li>
        <li class="nav-item">
            <a href="javascript:document.getElementById(&apos;logoutForm&apos;).submit()" class="nav-link">Log off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
           @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
